<!-- Card -->

  <div class="container mt-5 d-flex align-items-center">
    <div class="card card-image mb-3" wow fadeInLeft
      style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
        <div>
          <h4 class="pink-text">Importante!!</h4>
          <h3 class="card-title pt-2"><strong>Bienvenido a nuetro sistema de evaluaciones Online</strong></h3>
          <p>Para su uso el sistema es muy responsivo, para la navegación por los diferentes componentes del sistema se encuentra la barra de navegación en la parte superior, para salir del sistema no olvide cerrar su sesión.
          </p>
          <p>para continuar presione el siguiente botón o presione Inicio en la barra de navegación</p>
          <a mdbBtn color="pink" class="waves-light" mdbWavesEffect (click)="onRedirect()"><i class="far fa-clone left"></i> Empezar</a>
        </div>
      </div>
      <!-- Content -->
    </div>
  </div>

<!-- Card -->
<!-- wow fadeInLeft -->
<!-- d-flex justify-content-center align-items-center -->