<!--Grid row-->
<div class="row mt-5">

    <!--Grid column-->
    <div class="col-md-4 container mt-5">
  
      <mdb-card class="testimonial-card">
        <!--Bacground color-->
        <div class="card-up mdb-color lighten-10 lighten-1">
        </div>
  
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="{{user.photoUrl}}" class="rounded-circle">
        </div>
        <div class="mensaje col-md-12 text-center">
            <h4>Bienvenido</h4>
          </div>
  
        <mdb-card-body>
          <!--Name-->
          <mdb-card-title>
            <h4>{{user.name}}</h4>
          </mdb-card-title>
          <hr>
          <!--Quotation-->
          <p>{{user.email}}</p>
        </mdb-card-body>
      </mdb-card>
  
    </div>
    <!--Grid column-->
  
  </div>
  <!--Grid row-->